<html>
  <head>
     <title>Vagrant Box</title>
     <style>
	h1, img {
	    margin: auto;
	}
	h1 {
	    padding: 25px 50px;
	    width: 60%;
	    text-align: center;
        font: bold 2em sans-serif;
	}
	img {
	    display: block;
	}
     </style>
  </head>
  <body>
    <h1>Hello, I'm a <span style="color: blue;">Vagrant</span> Server!</h1>
    <img src="nuclear-explosion.jpg" alt="catle bravo explosion image">
  </body>
</html>
